@media (max-width: 635px) {
  .hero-page__title {
    text-align: center;
    max-width: 100%;
    font-size: 32px;
  }

  .hero-page__text {
    max-width: 100%;
    text-align: center;
  }

  button {
    margin: 0 auto;
  }

  * {
    margin: 0;
  }

  .wrapper {
    width: 133px;
    height: 70px;
  }
  .phone-number {
    display: none;
  }

  .fa-bars.fa-solid {
    display: inline;
    font-size: 30px;
  }

  .menu {
    display: none;
  }
}
