body {
  background-image: url(../image/background-img.png);
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  padding: 0 100px;
  /* санс для одной толщены букв */
  font-family: "Noto Sans", sans-serif;
}
