header {
  @include flex-center;
  justify-content: space-between;
}

.wrapper {
  @include flex-center;
  gap: 125px;
}

.social-networks {
  @include flex-center;
  gap: 15px;
}

.phone-number,
i {
  font-size: 21px;
}

i,
a {
  color: white;
}

a {
  @include flex-center;
  text-decoration: none;
}
/* это бургер меню */
.fa-bars.fa-solid {
  display: none;
}
@media (max-width: 635px) {
  .wrapper {
    width: 133px;
    height: 70px;
  }
  .phone-number {
    display: none;
  }

  .fa-bars.fa-solid {
    display: inline;
    font-size: 30px;
  }
}
