ul {
  @include flex-center;
  gap: 60px;

  li {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
  }
}
@media (max-width: 1370px) {
  ul {
    display: none;
  }
}
@media (max-width: 635px) {
  .menu {
    display: none;
  }
}
